<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/giblets/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/giblets/d3.js" type="text/javascript"></script>
    <script src="/javascripts/giblets/knockout.js" type="text/javascript"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
  </body>
</html>
